extends base

block styles
	link(rel="stylesheet/less", type="text/css", href="/static/less/geomap-resource.less")

block scripts
	script(type="text/javascript", src="/static/js/geomap/geomap-resource.js")
	
block content
	h1 #{title}
	if geomap.is_loaded
		p Data from this geodatabase has already been loaded. Now you're ready to...
		ol
			li
				a(href="/ncgmp/terminology-mapping/" + str(geomap.id) + "/") Map standard vocabulary terms to your map unit descriptions
			li
				button(type="button", onclick="createGsmlp('" + str(geomap.id) + "')") Create GeoSciML Features for your map
		
	else
		p Data from this geodatabase has not been loaded yet:
		input(type="hidden", id="csrf", name="csrfmiddlewaretoken", value= csrf_token)
		input(type="button", id="load-data-button", onclick="loadData(#{geomap.id})", value="Load Data")
	#waiting.hidden
		#spinner
		p Please be patient. This can take a while...