@import "base.less";

#spinner {
  float: left;
  height: 24px;
  width: 24px;
  background-image: url("../img/spinner.gif")
}

button, a {
    background-color: transparent;
    border: none;
    color: @contrast;    
    font-weight: bold;
    font-size: 1em;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1px;
    
    &:hover {
      @hover-color: lighten(@contrast, 30%);
      text-decoration: none;
      color: @hover-color;
      border-bottom: solid @hover-color 1px;
      margin-bottom: 0px;
    }
}

p {
  padding-bottom: 10px;
}

#waiting p {
  margin-top: 5px;
  margin-left: 35px;
}

#leaflet-map {
  margin-top: 10px;
  border: 2px solid white;
  height: 400px;
}
