script(type="text/template", id="dmu-item-tmpl")
	.pointer
	span <%= mapunit %>	
		
	
script(type="text/template", id="dmu-info-tmpl")
	h3#mapunit-info-label Map Unit Info
	#dmu-info()
		#dmu-static-info		
			#dmu-attributes
				#dmu-name
					span.label Name: 
					span.value <%= name %>
				#dmu-description
					span.label Description: 
					span.value <%= description %>
		#sub-attributes
			#lithologies.attr-container
				h3.container-label Lithologies
				ul.controls(for="lithologies")
					li.add
					li.remove
				.sub-attr-container
					#lith-info.sub-info
					.sub-list-container
						ul#lith-list.sub-list				
			#preferred-age.attr-container
				h3.container-label Preferred Age
				ul.controls(for="preferredAge")
					li.add
					li.remove
				.sub-attr-container
					#preferred-age-info.sub-info
					.sub-list-container
						ul#preferred-age-list.sub-list				
			#events.attr-container
				h3.container-label Geologic History
				ul.controls(for="geologicHistory")
					li.add
					li.remove
				.sub-attr-container
					#event-info.sub-info
					.sub-list-container
						ul#event-list.sub-list				
		
		
script(type="text/template", id="lith-item-tmpl")
	.pointer
	span
		input(type="checkbox", value="<%= id %>")
		<%= lithology %>
	
script(type="text/template", id="lith-info-tmpl")
	table
		tr.lith-attr(property="lithology")
			td.label
				span.label Term: 
			td
				input.value(vocab="SimpleLithology", uri="<%= lithology %>")
		tr.lith-attr(property="parttype")
			td.label
				span.label Type:
			td 
				input.value(vocab="GeologicUnitPartRole", uri="<%= parttype %>")
		tr.lith-attr(property="proportionterm")
			td.label
				span Proportion: 
			td
				input.value(vocab="ProportionTerm", uri="<%= proportionterm %>")
		
script(type="text/template", id="event-item-tmpl")
	.pointer
	span
		input(type="checkbox", value="<%= id %>")
		<%= event %>
	
script(type="text/template", id="event-info-tmpl")
	table
		tr.event-attr(property="event")
			td.label
				span Event: 
			td
				input.value(vocab="EventProcess", uri="<%= event %>")
		tr.event-attr(property="agedisplay")
			td.label
				span Display Age: 
			td
				input.value(vocab="ICSTimeScale", uri="<%= agedisplay %>")
		tr.event-attr(property="ageyoungerterm")
			td.label
				span Younger Age: 
			td
				input.value(vocab="ICSTimeScale", uri="<%= ageyoungerterm %>")
		tr.event-attr(property="ageolderterm")
			td.label
				span Older Age: 
			td
				input.value(vocab="ICSTimeScale", uri="<%= ageolderterm %>")