extends base

block styles
	link(rel="stylesheet/less", type="text/css", href="/static/less/term-mapping.less")
	link(rel="stylesheet", type="text/css", href="/static/css/jqueryui-greys/jquery-ui-1.8.18.custom.css")
	
block scripts
	script(type="text/javascript")
		geomapId = !{geomapId};

	script(type="text/javascript", src="/static/js/jquery-ui-1.8.18.custom.min.js")
	include terminology/templates
	script(type="text/javascript", src="/static/js/gsmlp/utils.js")
	script(type="text/javascript", src="/static/js/gsmlp/models.js")
	script(type="text/javascript", src="/static/js/gsmlp/views.js")
	script(type="text/javascript", src="/static/js/gsmlp/app.js")	
					
block content
	h3#geo-map-title
		a(href='/ncgmp/gm/' + geomapId + '/')= geomapName
	#term-mapping-app		
		#mapunit-info
		#mapunit-list-block
			h3#map-unit-label Map Units
			ul#mapunit-list		